.git
.github
.superpowers
.env
.env.*
!.env.example
!.env.testing
.phpunit.cache
.phpunit.result.cache
auth.json
node_modules
vendor
public/build
public/hot
database/*.sqlite
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
